name: CDK Deploy

on:
  push:
env:
  AWS_REGION: "eu-west-2"
  AWS_ACCOUNT_DEV: "679289103098"
# permissions can be added at job level or workflow level
permissions:
  id-token: write # This is required for requesting the ODIC JSON web token (JWT)
  contents: read # This is required for actions/checkout
  actions: read
jobs:
  aws_cdk:
    runs-on: ubuntu-latest
    steps:
      - name: Print current directory
        run: |
          echo "The current directory is $GITHUB_WORKSPACE"
          echo "The current directory is $PWD"

      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Configure AWS credentials
      - name: configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2.2.0
        with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_DEV }}:role/ODICGitHubDeployRole
          role-session-name: odic-github
          aws-region: ${{ env.AWS_REGION }}

      # Install cdk, typescript, and ts-node
      - name: install cdk, typescript, and ts-node
        run: |
          npm install -g cdk ts-node typescript --verbose
          npn install -g aws-cdk-lib@^2.87.0 textlint-rule-no-todo@^2.0.1 textlint@^13.3.2 --verbose
          which tsc cdk
          npm ls
#      - name: Synth CDK
#       run: |
#          cdk synth --verbose \
#          --app "ts-node bootstrap/bin/helloworld.ts"
#          --output ./bootstrap/cdk.out

 #     - name: Deploy CDK
 #       run: |
 #         cdk deploy --verbose --app ./bootstrap/cdk.out --require-approval never
      - name: cdk deploy
 #       working-directory: /Users/david.smith/git/gh-actions-dev-hazelnut/bootstrap
        run: |
          cdk deploy --verbose --app "npx ts-node ./bootstrap/bin/s3-bucket.ts" --require-approval never
