name: CDK Deploy

on: push
env:
  AWS_REGION: "eu-west-2"
  AWS_ACCOUNT: "441258556278"

# permission can be added at job level or workflow level
permissions:
  id-token: write # This is required for requesting the OIDC JSON web token (JWT)
  contents: read # This is required for actions/checkout
  security-events: write
  actions: read
jobs:
  aws_cdk:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4.0.0
        with:
          fetch-depth: 2

      # Configure AWS credentials
      - name: configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4.0.0
        with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT }}:role/ODICGitHubActionsDeployRole
          role-session-name: oidc-github-actions
          aws-region: ${{ env.AWS_REGION }}

      # Install cdk, typescript, and ts-node
      - name: install cdk, typescript, and ts-node
        run: |
          npm install -g aws-cdk ts-node typescript

      # cdk deploy
      - name: cdk deploy
        run: |
          cdk deploy --verbose --app "ts-node bootstrap/bin/helloworld.ts"