name: CDK Deploy

on:
  push:
env:
  AWS_REGION : "eu-west-2"
# permission can be added at job level or workflow level
permissions:
   id-token: write   # This is required for requesting the ODIC JSON web token (JWT)
   contents: read    # This is required for actions/checkout
   actions: read

jobs:
  aws_cdk:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

 #     - name: Setup Node.js environment
 #       uses: actions/setup-node@v2.5.2
 #       with:
 #         node-version: 18.0.0

      - name: Install AWS CDK and ts-node
        run: |
         npm i -g aws-cdk
         npm i -g ts-node

      # Configure AWS credentials
      - name: configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2.2.0
        with:
          role-to-assume: arn:aws:iam::679289103098:role/ODICGitHubDeployRole
          role-session-name: odic-s3-bucket
          aws-region: ${{ env.AWS_REGION }}

      - name: cdk deploy
        run: |
         pwd
         cdk deploy --verbose i--app "ts-node bootstrap/lib/helloworld.ts"