name: CDK Deploy

on:
  push:
env:
  AWS_REGION: "eu-west-2"
  GREENFIELD_AWS_ACCOUNT: "679289103098"
  ARTIFACTORY_USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
  ARTIFACTORY_ACCESSTOKEN: ${{ secrets.ARTIFACTORY_ACCESSTOKEN }}
  ARTIFACTORY_URL: ${{ secrets.ARTIFACTORY_URL }}
  NPM_ARTIFACTORY_URL: ${{ secrets.NPM_ARTIFACTORY_URL }}
  NPM_ARTIFACTORY_ACCESSTOKEN: ${{ secrets.NPM_ARTIFACTORY_ACCESSTOKEN }}

# permissions can be added at job level or workflow level
permissions:
  id-token: write # This is required for requesting the ODIC JSON web token (JWT)
  contents: read # This is required for actions/checkout
  actions: read
jobs:
  aws_cdk:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Lint code base
        uses: github/super-linter@v5
        env:
            VALIDATE_ALL_CODEBASE: false
            DISABLE_ERRORS: true
            DEFAULT_BRANCH: main
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Node.js 16.20
        uses: actions/setup-node@v3
        with:
          node-version: "16.20.0"

      - name: Install node dependencies
        run: |
          npm config set //${{ env.NPM_ARTIFACTORY_URL }}/:_auth='${{ env.NPM_ARTIFACTORY_ACCESSTOKEN }}'
          npm config set strict-ssl false
          npm config set always-auth true
          npm config set unsafe-perm false
          npm config set email ${{ env.ARTIFACTORY_USERNAME }}@metoffice.gov.uk
          npm config set registry https://${{ env.NPM_ARTIFACTORY_URL }}/npm
          npm ci --include=dev --verbose

      # Configure AWS credentials
      - name: configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2.2.0
        with:
          role-to-assume: arn:aws:iam::${{ env.GREENFIELD_AWS_ACCOUNT }}:role/ODICGitHubActionsDeployRole
          role-session-name: odic-github
          aws-region: ${{ env.AWS_REGION }}

      # Install cdk
      - name: install cdk
        run: |
          npm install -g cdk@^2.87.0 --include=dev --verbose

      # CDK deploy
      - name: cdk deploy
        run: |
          cdk deploy --verbose --app "npx ts-node ./bootstrap/bin/s3-bucket.ts" --require-approval never
