# Sample workflow to access AWS resources when workflow is tied to branch
# The workflow Creates static website using aws s3

name: Linting and Uploading file to S3 bucket
on:
  push
env:
  BUCKET_NAME : "cdk-hnb659fds-assets-679289103098-eu-west-2"
  AWS_REGION : "eu-west-2"
  AWS_ACCOUNT: ""
  DEPLOY_ROLE: ""

# permission can be added at job or workflow level
permissions:
  id-token: write   # This is required for requesting the ODIC JSON web token (JWT)
  contents: read    # This is required for actions/checkout
  security-events: write
  actions: read
jobs:
  S3PackageUpload:
    runs-on: ubuntu-latest
    steps:
    # Repo git cloning
      - name: Git clone the repository
        uses: actions/checkout@v4.0.0
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 2
    # Add linting
      - name: Lint Code Base
        uses: github/super-linter@latest
        env:
          VALIDATE_ALL_CODEBASE: false
          DISABLE_ERRORS: true
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # Configure AWS credentials
      - name: configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4.0.0
        with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT }}:role/${{ env.DEPLOY_ROLE }}
          role-session-name: oidc-s3-bucket
          aws-region: ${{ env.AWS_REGION }}
      # Upload a file to AWS S3
      - name:  Copy index.html to S3
        run: |
          aws s3 cp ./index.html s3://${{ env.BUCKET_NAME }}/